<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.mindlight.notifications"
        version="0.0.1">
    <name>Cordova Notification Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    
    <engines>
        <engine name="cordova" version=">=6.5.0"/>
        <engine name="cordova-android" version=">=6.1.2"/>
        <engine name="cordova-ios" version=">=4.3.1"/>
    </engines>

    <dependency id="cordova-plugin-device" />
    <dependency id="cordova-plugin-app-event" />
    <!-- android -->
    <platform name="android">
      <js-module src="bin/www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="Notifications" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Notifications">
          <param name="android-package" value="com.example.Notifications" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/Notifications.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="bin/www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="Notifications" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="Notifications">
                <param name="ios-package" value="Notifications" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/Notifications.h" />
        <source-file src="src/ios/Notifications.m" />
    </platform>
</plugin>
